---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// -------------------------------
// Custom changes!
// You can define variables at the bottom of _config.yml
// and reference them with {{ site.variable_name }}

$link-color: {{ site.blue_col }};

.sidebar.sticky {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: {{ site.blue_col }};
}

article {
    font-size: medium;
}

.archive__item {
    font-size: medium;
}

.archive__item-date {
    color: gray;
    margin-top: -0.5em;
}

// TODO: the theme code overrides this
.archive__item-title {
    margin-bottom: -0.25em;
}

// END custom changes
// -------------------------------
// Necessary imports

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials